# Data Profiling

---

## Imports

#### Python libraries

In [1]:
import pandas as pd
pd.options.display.max_columns = 50

import sys

#### Asistin configuration

In [2]:
sys.path.append("..")

#### Ancillary modules

In [3]:
## Reload modules
%load_ext autoreload
%autoreload 2

from src.utils.utils import (
    json_dump_dict,
    count_vars,
    count_obs,
    count_unique_obs,
    vars_classif_by_type,
    data_profiling_numeric,
    data_profiling_categ,
    data_profiling_date,
    data_profiling_loc
)

from src.utils.data_dict import (
    data_dict
)

---

## Reading data

In [4]:
df_c5 = pd.read_csv("../incidentes-viales-c5.csv")

In [5]:
df_c5

,folio,fecha_creacion,hora_creacion,dia_semana,codigo_cierre,fecha_cierre,año_cierre,mes_cierre,hora_cierre,delegacion_inicio,incidente_c4,latitud,longitud,clas_con_f_alarma,tipo_entrada,delegacion_cierre,geopoint,mes
0,GA/160123/05714,23/01/2016,22:35:04,Sábado,(A) La unidad de atención a emergencias fue de...,24/01/2016,2016,Enero,00:21:08,VENUSTIANO CARRANZA,accidente-choque sin lesionados,19.422113,-99.084643,EMERGENCIA,BOTÓN DE AUXILIO,VENUSTIANO CARRANZA,"19.422113,-99.084643",1
1,AO/160123/05826,23/01/2016,22:50:49,Sábado,(A) La unidad de atención a emergencias fue de...,24/01/2016,2016,Enero,04:40:37,CUAJIMALPA,accidente-choque con lesionados,19.358320,-99.297641,URGENCIAS MEDICAS,BOTÓN DE AUXILIO,CUAJIMALPA,"19.35832,-99.297641",1
2,C4/160124/02187,24/01/2016,09:40:11,Domingo,(N) La unidad de atención a emergencias fue de...,24/01/2016,2016,Enero,11:13:03,TLALPAN,accidente-choque sin lesionados,19.217070,-99.219070,EMERGENCIA,LLAMADA DEL 066,TLALPAN,"19.21707,-99.21907008",1
3,C4/160124/05723,24/01/2016,22:40:57,Domingo,(N) La unidad de atención a emergencias fue de...,24/01/2016,2016,Enero,22:55:51,MAGDALENA CONTRERAS,accidente-choque sin lesionados,19.320580,-99.241010,EMERGENCIA,LLAMADA DEL 066,MAGDALENA CONTRERAS,"19.32057999,-99.24100992",1
4,C4/160124/01334,24/01/2016,04:25:15,Domingo,(A) La unidad de atención a emergencias fue de...,24/01/2016,2016,Enero,05:03:59,MIGUEL HIDALGO,accidente-choque sin lesionados,19.452900,-99.215870,EMERGENCIA,LLAMADA DEL 066,MIGUEL HIDALGO,"19.45289997,-99.21587004",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1383133,GA/201022/03443,22/10/2020,16:17:05,Jueves,(A) La unidad de atención a emergencias fue de...,22/10/2020,2020,Octubre,16:58:49,GUSTAVO A. MADERO,lesionado-atropellado,19.486310,-99.118120,URGENCIAS MEDICAS,BOTÓN DE AUXILIO,GUSTAVO A. MADERO,"19.48631004,-99.11811996",10
1383134,GA/201022/03492,22/10/2020,16:29:13,Jueves,(A) La unidad de atención a emergencias fue de...,22/10/2020,2020,Octubre,18:54:22,VENUSTIANO CARRANZA,accidente-choque con lesionados,19.427274,-99.115814,URGENCIAS MEDICAS,BOTÓN DE AUXILIO,VENUSTIANO CARRANZA,"19.427274,-99.115814",10
1383135,C5/201022/02030,22/10/2020,12:00:26,Jueves,(D) El incidente reportado se registró en dos ...,22/10/2020,2020,Octubre,12:02:30,AZCAPOTZALCO,accidente-choque sin lesionados,19.467180,-99.175250,EMERGENCIA,LLAMADA DEL 911,AZCAPOTZALCO,"19.46718,-99.17525016",10
1383136,C5/201022/02039,22/10/2020,12:01:25,Jueves,(D) El incidente reportado se registró en dos ...,22/10/2020,2020,Octubre,12:05:59,VENUSTIANO CARRANZA,accidente-choque con lesionados,19.427280,-99.096860,URGENCIAS MEDICAS,LLAMADA DEL 911,VENUSTIANO CARRANZA,"19.42728003,-99.09686016",10
1383137,C5/201022/03364,22/10/2020,16:05:47,Jueves,(D) El incidente reportado se registró en dos ...,22/10/2020,2020,Octubre,16:10:13,IZTAPALAPA,accidente-choque sin lesionados,19.345780,-99.062980,EMERGENCIA,LLAMADA DEL 911,IZTAPALAPA,"19.34577999,-99.06297984",10

---

## Data profiling

### Generic exploration

#### Number of variables in data

In [6]:
count_vars(df_c5)

Número de variables en los datos --> 18

#### Number of observations in data

In [7]:
count_obs(df_c5)

Número de observaciones en los datos --> 1383138

#### Number of unique observations in data per column

In [8]:
count_unique_obs(df_c5)

folio                1383138
fecha_creacion          2637
hora_creacion         105887
dia_semana                 7
codigo_cierre              5
fecha_cierre            2621
año_cierre                 7
mes_cierre                12
hora_cierre           106827
delegacion_inicio         16
incidente_c4              26
latitud                82501
longitud               78984
clas_con_f_alarma          4
tipo_entrada               9
delegacion_cierre         16
geopoint              134288
mes                       12
dtype: int64

#### Classifying variables according to data type

In [9]:
vars_classif_by_type()

           categoric   date_and_time coordenate
0              folio  fecha_creacion    latitud
1      codigo_cierre   hora_creacion   longitud
2  delegacion_inicio      dia_semana   geopoint
3       incidente_c4    fecha_cierre          -
4  clas_con_f_alarma      año_cierre          -
5       tipo_entrada      mes_cierre          -
6  delegacion_cierre     hora_cierre          -
7                  -             mes          -

None

### Data profilling - numeric variables

El dataset analizado no contiene variables numéricas.

### Data profilling - categoric variables

In [10]:
cat_vars = [var for var in data_dict if data_dict[var]["data_type"] == "categoric"]

data_profiling_categ(df_c5, cat_vars)

*************************************
** Conteo y proporción de entradas **
*************************************
Variable categorica -> folio

                 Observaciones Proporción
Categoría
C5/190508/04327              1       0.0%
C4/151119/04916              1       0.0%
C4/140314/03720              1       0.0%
C5/170207/01521              1       0.0%
C5/200912/06190              1       0.0%
...                        ...        ...
C5/171202/03535              1       0.0%
C5/170419/05139              1       0.0%
C5/171121/01041              1       0.0%
C5/190213/06245              1       0.0%
C5/200613/06595              1       0.0%

[1383138 rows x 2 columns]

None



Variable categorica -> codigo_cierre

                                                    Observaciones Proporción
Categoría
(A) La unidad de atención a emergencias fue des...         600108      43.4%
(D) El incidente reportado se registró en dos o...         495631      35.8%
(N) La unidad de atención a emergencias fue des...         271677      19.6%
(F) El operador/a o despachador/a identifican, ...          10626       0.8%
(I) El incidente reportado es afirmativo y se a...           5096       0.4%

None



Variable categorica -> delegacion_inicio

                     Observaciones Proporción
Categoría
IZTAPALAPA                  223687      16.2%
GUSTAVO A. MADERO           144620      10.5%
CUAUHTEMOC                  141391      10.2%
MIGUEL HIDALGO              115864       8.4%
COYOACAN                    110146       8.0%
BENITO JUAREZ               104322       7.5%
ALVARO OBREGON              102071       7.4%
VENUSTIANO CARRANZA          94393       6.8%
TLALPAN                      87339       6.3%
AZCAPOTZALCO                 60823       4.4%
IZTACALCO                    58567       4.2%
XOCHIMILCO                   52575       3.8%
TLAHUAC                      33420       2.4%
CUAJIMALPA                   26714       1.9%
MAGDALENA CONTRERAS          20062       1.5%
MILPA ALTA                    6986       0.5%

None



Variable categorica -> incidente_c4

                                               Observaciones Proporción
Categoría
accidente-choque sin lesionados                       760506      55.0%
accidente-choque con lesionados                       315031      22.8%
lesionado-atropellado                                 193553      14.0%
accidente-motociclista                                 55646       4.0%
accidente-volcadura                                    31766       2.3%
lesionado-accidente automovilístico                     6054       0.4%
accidente-persona atrapada / desbarrancada              5607       0.4%
accidente-ciclista                                      2718       0.2%
accidente-otros                                         2465       0.2%
accidente-choque con prensados                          2334       0.2%
cadáver-atropellado                                     1975       0.1%
accidente-vehiculo atrapado                             1121       0.1%
cadáver-accidente automovilístico                       1083       0.1%
accidente-vehículo atrapado-varado                       852       0.1%
detención ciudadana-atropellado                          702       0.1%
sismo-choque sin lesionados                              540       0.0%
accidente-vehiculo desbarrancado                         490       0.0%
sismo-choque con lesionados                              372       0.0%
detención ciudadana-accidente automovilístico            153       0.0%
accidente-ferroviario                                     55       0.0%
mi ciudad-calle-incidente de tránsito                     55       0.0%
accidente-monopatín                                       31       0.0%
sismo-persona atropellada                                 23       0.0%
Detención ciudadana-accidente automovilístico              3       0.0%
sismo-choque con prensados                                 2       0.0%
mi ciudad-taxi-incidente de tránsito                       1       0.0%

None



Variable categorica -> clas_con_f_alarma

                   Observaciones Proporción
Categoría
EMERGENCIA                799037      57.8%
URGENCIAS MEDICAS         572619      41.4%
FALSA ALARMA               10630       0.8%
DELITO                       852       0.1%

None



Variable categorica -> tipo_entrada

                  Observaciones Proporción
Categoría
LLAMADA DEL 911          739339      53.5%
LLAMADA DEL 066          463432      33.5%
BOTÓN DE AUXILIO          78630       5.7%
RADIO                     77749       5.6%
LLAMADA APP911             9483       0.7%
ZELLO                      6451       0.5%
REDES                      4697       0.3%
CÁMARA                     3276       0.2%
APLICATIVOS                  81       0.0%

None



Variable categorica -> delegacion_cierre

                     Observaciones Proporción
Categoría
IZTAPALAPA                  225202      16.3%
GUSTAVO A. MADERO           147582      10.7%
CUAUHTEMOC                  141781      10.3%
MIGUEL HIDALGO              113910       8.2%
COYOACAN                    107251       7.8%
ALVARO OBREGON              104073       7.5%
BENITO JUAREZ               103602       7.5%
TLALPAN                      92122       6.7%
VENUSTIANO CARRANZA          91661       6.6%
AZCAPOTZALCO                 59776       4.3%
IZTACALCO                    59183       4.3%
XOCHIMILCO                   50642       3.7%
TLAHUAC                      33148       2.4%
CUAJIMALPA                   26268       1.9%
MAGDALENA CONTRERAS          19703       1.4%
MILPA ALTA                    7094       0.5%

None



***************************************
** Impresión de resumen de variables **
***************************************

Info,folio,codigo_cierre,delegacion_inicio,incidente_c4,clas_con_f_alarma,tipo_entrada,delegacion_cierre
Num_Registros,1383138,1383138,1383138,1383138,1383138,1383138,1383138
Num_de_categorias,1383138,5,16,26,4,9,16
Moda,AO/140101/01144,(A) La unidad de atención a emergencias fue de...,IZTAPALAPA,accidente-choque sin lesionados,EMERGENCIA,LLAMADA DEL 911,IZTAPALAPA
Valores_faltantes,0,0,158,0,0,0,140
Top1,"[C5/170408/07808, 1]",[(A) La unidad de atención a emergencias fue d...,"[IZTAPALAPA, 223687]","[accidente-choque sin lesionados, 760506]","[EMERGENCIA, 799037]","[LLAMADA DEL 911, 739339]","[IZTAPALAPA, 225202]"
Top2,"[C5/190805/03976, 1]",[(D) El incidente reportado se registró en dos...,"[GUSTAVO A. MADERO, 144620]","[accidente-choque con lesionados, 315031]","[URGENCIAS MEDICAS, 572619]","[LLAMADA DEL 066, 463432]","[GUSTAVO A. MADERO, 147582]"
Top3,"[C5/180605/01073, 1]",[(N) La unidad de atención a emergencias fue d...,"[CUAUHTEMOC, 141391]","[lesionado-atropellado, 193553]","[FALSA ALARMA, 10630]","[BOTÓN DE AUXILIO, 78630]","[CUAUHTEMOC, 141781]"

None

#### Con base en el profiling realizado, nos damos cuenta de los siguientes aspectos importantes acerca de los datos categóricos:
- **Observaciones principales**
    1. Sí tenemos un folio único para cada una de las observaciones.
    2. El 20% de los envíos de asistencia registrados en la base (271,677) son inútiles debido a que la ambulancia llega al lugar pero no hay emergencia que atender.
    3. El 55% de los accidentes no requieren que se envíe una ambulancia de asistencia.
- **Observaciones secundarias**
    1. Solamente el 0.8% de las llamadas son identificadas como "Falsas" antes de enviar asistencia (información útil para definir *baseline*)

### Data profilling - date variables

**Current processing assumptions:**
1. All time entries which 3rd character is not ":" will be ignored. The first two characters of the rest will be taken as the correct hour.

In [11]:
dat_vars = [var for var in data_dict if 
            (data_dict[var]["data_type"] == "date_and_time") & 
            ("_cierre" not in var)
           ]

df_dat = data_profiling_date(df_c5, dat_vars)

*********************************
** General description of data **
*********************************

,fecha_creacion,hora_creacion,dia_semana,mes,dia_creacion,mes_creacion,año_creacion
dtype,object,object,object,int64,object,object,object
notnull_v,1383138,1383138,1383138,1383138,1383138,1383138,1383138
missing_v,0,0,0,0,0,0,0
count_unique,2637,25,7,12,31,12,8

None
---------------------------------------------------------------------------
---------------------------------------------------------------------------



****************************
** Top repeated variables **
****************************

      fecha_creacion                    hora_creacion                      \
               value count part_notnull         value  count part_notnull
top_1     14/02/2020  1163         0.08            19  92287         6.67
top_2     26/10/2018  1028         0.07            20  91329         6.60
top_3     30/11/2019  1011         0.07            18  87975         6.36
top_4     08/12/2017  1011         0.07            21  87059         6.29
top_5     21/04/2018  1009         0.07            16  82826         5.99

      dia_semana                        mes                      dia_creacion  \
           value   count part_notnull value   count part_notnull        value
top_1    Viernes  229681        16.61    10  133641         9.66           14
top_2     Sábado  214134        15.48     8  121123         8.76           15
top_3     Jueves  198147        14.33     9  120581         8.72           13
top_4  Miércoles  193857        14.02     3  120335         8.70           28
top_5     Martes  189669        13.71    12  117616         8.50           08

                          mes_creacion                      año_creacion  \
       count part_notnull        value   count part_notnull        value
top_1  47933         3.47           10  133635         9.66         2018
top_2  47930         3.47           08  121131         8.76         2019
top_3  47095         3.40           09  120572         8.72         2017
top_4  46372         3.35           03  120240         8.69         2016
top_5  46212         3.34           12  117497         8.49         2015


        count part_notnull
top_1  246579        17.83
top_2  229500        16.59
top_3  226530        16.38
top_4  191007        13.81
top_5  184818        13.36

None
---------------------------------------------------------------------------
---------------------------------------------------------------------------

#### Con base en el profiling realizado, nos damos cuenta de los siguientes aspectos importantes acerca de los datos de fecha:
- **Observaciones principales**
    1. Los datos de fechas están bastante completos. El atributo `hora_creacion` es el que presenta mayor falta de información mostrando 28,323 registros (ó 2.05% del total) inválidos.
    2. Salvo por el año 2013, hay una distribución equilibrada de los datos anuales. Adicionalmente, el número de registros por mes y día del mes mustran una distribución balanceada.
    3. Como era de esperarse, hay días de la semana y horas del día en que se observa una mayor registro de incidentes: los días jueves, viernes y sábado; y las 18, 19 y 20 horas. Sin embargo, a pesar de ser las categrías con más registros, no superan por mucho al resto de las categorías.
- **Observaciones secundarias**
    1. -

---

### Data profilling - location variables

In [13]:
loc_vars = [var for var in data_dict if (data_dict[var]["data_type"] == "coordenate")]
data_profiling_loc(df_c5, loc_vars)

*********************************
** General description of data **
*********************************

           latitud longitud geopoint
dtype      float64  float64   object
notnull_v  1382695  1382703  1382692
missing_v      443      435      446

None
***************************
** Coordinates precision **
***************************

      latitud_nd                       longitud_nd
           value    count part_notnull       value   count part_notnull
top_1        8.0  1003515        72.58         8.0  997835        72.17
top_2        5.0   173878        12.58         5.0  173603        12.56
top_3        6.0    95810         6.93         6.0   99496         7.20
top_4       15.0    77353         5.59        14.0   77952         5.64
top_5        4.0    25508         1.84         4.0   26896         1.95

None
---------------------------------------------------------------------------
---------------------------------------------------------------------------

#### Con base en el profiling realizado, nos damos cuenta de los siguientes aspectos importantes acerca de los datos de ubicación:
- **Observaciones principales**
    1. Tenemos coordenadas para la gran mayoría (99%) de los incidentes registrados.
    2. Poco más del 70% de todas las coordenadas tienen una precisión de 8 decimales. La mayoría de las coordenadas restantes tienen una menor precisión.
    3. La mayoría de las coordenadas que observamos en el mapa sí corresponden a la CDMX.
- **Observaciones secundarias**
    1. -

---

## *Notes*

### Specific exploration for Mariana's questions

#### Número de accidentes por día. 
- Objetivo: sacar número promedio de folios diarios por año.

In [13]:
rc = [
    "folio",
    "fecha_creacion"
]

dfx = df_c5.loc[:, rc]
dfx["fecha_creacion"] = pd.to_datetime(dfx["fecha_creacion"])

dfx = dfx.groupby(["fecha_creacion"]).count()

dfx["anio"] = dfx.index.year

dfx.groupby(["anio"]).mean().to_dict()

{'folio': {2013: 25.0,
  2014: 469.14246575342463,
  2015: 506.35068493150686,
  2016: 521.8770491803278,
  2017: 620.6301369863014,
  2018: 675.5589041095891,
  2019: 628.7671232876712,
  2020: 437.51475409836064}}

#### Cuántas observaciones por día son falsas.
- Objetivo: conteo y proporción de llamadas diarias falsas por año.
    - Se consideran llamadas falsas las de la columna `codigo_cierre` con estas categorías:
        - (N) La unidad de atención a emergencias fue despachada, llegó al lugar de los hechos, pero en el sitio del evento nadie solicitó el apoyo de la unidad
        - (F) El operador/a o despachador/a identifican, antes de dar respuesta a la emergencia, que ésta es falsa. O al ser despachada una unidad de atención a emergencias en el lugar de los hechos se percatan que el incidente no corresponde al reportado inicialmente

In [14]:
rc = [
    "codigo_cierre",
    "fecha_creacion",
    "folio"
]

dfx = df_c5.loc[:, rc]

dfx["fecha_creacion"] = pd.to_datetime(dfx["fecha_creacion"])

dfx["falsa_class"] = dfx["codigo_cierre"].apply(lambda x: "Falsa" if
                                                (x == "(N) La unidad de atención a emergencias fue despachada, llegó al lugar de los hechos, pero en el sitio del evento nadie solicitó el apoyo de la unidad") |
                                                (x == "(F) El operador/a o despachador/a identifican, antes de dar respuesta a la emergencia, que ésta es falsa. O al ser despachada una unidad de atención a emergencias en el lugar de los hechos se percatan que el incidente no corresponde al reportado inicialmente") 
                                                else "Verdadera"
                                               )

dfx = dfx.groupby(["fecha_creacion", "falsa_class"]).count().loc[:, ["folio"]]

dfx["prop"] = dfx.groupby(level=0).transform("sum")
dfx["prop"] = dfx["folio"]/dfx["prop"]

dfx = dfx[dfx.index.get_level_values(1) == "Falsa"]
dfx["anio"] = dfx.index.get_level_values(0).year

dfx = dfx.groupby(["anio"]).mean()

dfx.to_dict(orient="index")

{2013: {'folio': 4.0, 'prop': 0.16},
 2014: {'folio': 80.68767123287671, 'prop': 0.16998566083217764},
 2015: {'folio': 103.95068493150686, 'prop': 0.20434044775572077},
 2016: {'folio': 117.55464480874316, 'prop': 0.22253134686615664},
 2017: {'folio': 134.38630136986302, 'prop': 0.2154984733977669},
 2018: {'folio': 144.8082191780822, 'prop': 0.21364711866082522},
 2019: {'folio': 119.86027397260274, 'prop': 0.18986755026802876},
 2020: {'folio': 85.98688524590163, 'prop': 0.19297079885199966}}

#### Cuántas observaciones por día son verdaderas y que se les envío ambulancia.

- Objetivo: conteo y proporción de llamadas diarias que no son falsas y que involucran lesionados.
    - Se consideran llamadas verdaderas y que se les envió ambulancia las entradas que cumplen estas dos condiciones:
        - La columna `codigo_cierre` tiene alguna de estas 3 categorías:
            - (A) La unidad de atención a emergencias fue despachada, llegó al lugar de los hechos y confirmó la emergencia reportada
            - (D) El incidente reportado se registró en dos o más ocasiones procediendo a mantener un único reporte (afirmativo, informativo, negativo o falso) como el identificador para el incidente
            - (I) El incidente reportado es afirmativo y se añade información adicional al evento
        - La columna `incidente_c4` no es ninguna de estas categorías:
            - accidente-choque sin lesionados
            - cadáver-accidente automovilístico
            - cadáver-atropellado
            - sismo-choque sin lesionados
            - mi ciudad-calle-incidente de tránsito
            - mi ciudad-taxi-incidente de tránsito

In [15]:
tags1 = [
    "(A) La unidad de atención a emergencias fue despachada, llegó al lugar de los hechos y confirmó la emergencia reportada",
    "(D) El incidente reportado se registró en dos o más ocasiones procediendo a mantener un único reporte (afirmativo, informativo, negativo o falso) como el identificador para el incidente",
    "(I) El incidente reportado es afirmativo y se añade información adicional al evento"
]

tags2 = [
    "accidente-choque sin lesionados",
    "cadáver-accidente automovilístico",
    "cadáver-atropellado",
    "sismo-choque sin lesionados",
    "mi ciudad-calle-incidente de tránsito",
    "mi ciudad-taxi-incidente de tránsito"
]

In [16]:
rc = [
    "codigo_cierre",
    "incidente_c4",
    "fecha_creacion",
    "folio"
]

dfx = df_c5.loc[:, rc]

dfx["fecha_creacion"] = pd.to_datetime(dfx["fecha_creacion"])

dfx["v_ambul_class"] = dfx.apply(lambda x: "verdadera_con_ambulancia" if
                               (
                                   (x["codigo_cierre"] in tags1) &
                                   (x["incidente_c4"] in tags2)
                               )
                               else "no_ambulancia",
                               axis=1
                              )

dfx = dfx.groupby(["fecha_creacion", "v_ambul_class"]).count().loc[:, ["folio"]]

dfx["prop"] = dfx.groupby(level=0).transform("sum")
dfx["prop"] = dfx["folio"]/dfx["prop"]

dfx = dfx[dfx.index.get_level_values(1) == "verdadera_con_ambulancia"]
dfx["anio"] = dfx.index.get_level_values(0).year

dfx = dfx.groupby(["anio"]).mean()

dfx.to_dict(orient="index")

{2013: {'folio': 12.0, 'prop': 0.48},
 2014: {'folio': 227.6931506849315, 'prop': 0.4834735831911364},
 2015: {'folio': 234.43287671232878, 'prop': 0.45974789920439196},
 2016: {'folio': 227.44808743169398, 'prop': 0.4356614398914304},
 2017: {'folio': 234.16986301369863, 'prop': 0.37643975030127774},
 2018: {'folio': 251.34794520547945, 'prop': 0.37127155225841435},
 2019: {'folio': 246.55616438356165, 'prop': 0.3911558048901396},
 2020: {'folio': 151.3409836065574, 'prop': 0.3415542590052334}}

#### Cuántas observaciones por día son verdaderas y que *no* se les envío ambulancia.

- Objetivo: conteo y proporción de llamadas diarias que son verdaderas, requerían una ambulancia pero no fue enviada.
    - Se consideran llamadas verdaderas y que se les envió ambulancia las entradas que cumplen estas dos condiciones:
        - La columna `codigo_cierre` tiene alguna de estas 2 categorías:
            - (N) La unidad de atención a emergencias fue despachada, llegó al lugar de los hechos, pero en el sitio del evento nadie solicitó el apoyo de la unidad
            - (F) El operador/a o despachador/a identifican, antes de dar respuesta a la emergencia, que ésta es falsa. O al ser despachada una unidad de atención a emergencias en el lugar de los hechos se percatan que el incidente no corresponde al reportado inicialmente
        - La columna `incidente_c4` no es ninguna de estas categorías:
            - accidente-choque sin lesionados
            - cadáver-accidente automovilístico
            - cadáver-atropellado
            - sismo-choque sin lesionados
            - mi ciudad-calle-incidente de tránsito
            - mi ciudad-taxi-incidente de tránsito

In [17]:
tags1 = [
    "(N) La unidad de atención a emergencias fue despachada, llegó al lugar de los hechos, pero en el sitio del evento nadie solicitó el apoyo de la unidad",
    "(F) El operador/a o despachador/a identifican, antes de dar respuesta a la emergencia, que ésta es falsa. O al ser despachada una unidad de atención a emergencias en el lugar de los hechos se percatan que el incidente no corresponde al reportado inicialmente"
]

tags2 = [
    "accidente-choque sin lesionados",
    "cadáver-accidente automovilístico",
    "cadáver-atropellado",
    "sismo-choque sin lesionados",
    "mi ciudad-calle-incidente de tránsito",
    "mi ciudad-taxi-incidente de tránsito"
]

In [18]:
rc = [
    "codigo_cierre",
    "incidente_c4",
    "fecha_creacion",
    "folio"
]

dfx = df_c5.loc[:, rc]

dfx["fecha_creacion"] = pd.to_datetime(dfx["fecha_creacion"])

dfx["v_no_ambul_class"] = dfx.apply(lambda x: "verdadera_sin_ambulancia" if
                               (
                                   (x["codigo_cierre"] in tags1) &
                                   (x["incidente_c4"] in tags2)
                               )
                               else "resto",
                               axis=1
                              )

dfx = dfx.groupby(["fecha_creacion", "v_no_ambul_class"]).count().loc[:, ["folio"]]

dfx["prop"] = dfx.groupby(level=0).transform("sum")
dfx["prop"] = dfx["folio"]/dfx["prop"]

dfx = dfx[dfx.index.get_level_values(1) == "verdadera_sin_ambulancia"]
dfx["anio"] = dfx.index.get_level_values(0).year

dfx = dfx.groupby(["anio"]).mean()

dfx.to_dict(orient="index")

{2013: {'folio': 4.0, 'prop': 0.16},
 2014: {'folio': 51.632876712328766, 'prop': 0.1080211235622076},
 2015: {'folio': 73.62465753424658, 'prop': 0.1435439829392893},
 2016: {'folio': 88.73224043715847, 'prop': 0.16736574435516346},
 2017: {'folio': 99.32602739726028, 'prop': 0.1586748188610403},
 2018: {'folio': 104.63287671232877, 'prop': 0.1542608839307751},
 2019: {'folio': 81.5068493150685, 'prop': 0.12895444240829276},
 2020: {'folio': 53.98688524590164, 'prop': 0.11984781527066748}}

---

### Creating data dictionary

#### From scratch

In [ ]:
data_dict = {}
for col in df_c5.columns:
    data_dict[col] = {}
    data_dict[col]["relevant"] = True
    data_dict[col]["data_type"] = "-"

In [ ]:
json_dump_dict(data_dict)

In [ ]:
data_dict

---

---
---